:root {
  --c-ink-900: #141938;
  --c-ink-600: #7981b2;
  --c-bg: #0026fd;
  --c-white: #fff;
  --c-focus: #0048d9;
  --c-shadow: 0 1px 32px 0 rgba(174, 172, 243, 0.35);

  --ff-sans: 'Lato', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

  --fs-16: 1rem;
  --lh-24: 1.5rem;
  --fs-20: 1.25rem;
  --lh-28: 1.75rem;
  --fs-40: 2.5rem;
  --lh-48: 3rem;
  --fs-12: 0.75rem;
  --lh-20: 1.25rem;

  --r-24: 24px;
  --sp-16: 16px;
  --sp-24: 24px;
  --sp-40: 40px;
}
