:root {
  --container-max: 1360px;
  --navbar-h: 64px;
  --pad-x-mobile: 16px;
  --pad-x-small: 24px;
  --footer-h: 64px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

#root main#main {
  flex: 1 0 auto;
}

#root header.navbar,
#root footer.footer {
  flex: 0 0 auto;
}
